body{
  background-color: #161e2a;  //Outer purple, from chilltec.net
}
#main-box{
  margin-top: 100px;
  background-color: #141b28;  //Inner purple, from chilltec.net;

  border-width: 5px;
  
  border-color: #101521;
  
  border-style: solid;
  
  //border-width: 5px;
}
#weather{
  width: 500px;
  height: 500px;
  border: none;
}
#clock{
  font: 100 8em lato;
  color: white;
}
#view-screen{
  position: relative;
  width: 80%;
  height: 80%;
  padding-right: 75%;
}
#window{
  position: relative;
  width: 80%;
  height: 80%;
  border: none;
}
#window1{
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  z-index: 8;
}
#window2{
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  z-index: 6;
}
#window3{
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  z-index: 4;
}
#window4{
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  z-index: 10;
}
.icon-left{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.icon-right{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.icon-bar{
}
.icon-box{
  background-color: #101521;
  color: white;
  height:  75px;
  padding-top: 15px;
}

.sliding-middle-out {
	display: inline-block;
	position: relative;
	padding-bottom: 3px;
}
.sliding-middle-out:after {
	content: '';
	display: block;
	margin: auto;
	height: 3px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}
.sliding-middle-out:hover:after {
	width: 100%;
	background: blue;
}
